
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Emty.cshtml";
}

<div class="container-fluid">
    <div class="d-flex justify-content-center">
        <form class="col-3" action="/login/checklogin" method="post">
            <div class="p-2">
                <label>Tài khoản</label>
                <input class="form-control" type="text" name="username" />
            </div>
            <div class="p-2">
                <label>Mật khẩu</label>
                <input class="form-control" type="password" name="password" />
            </div>
            <button class="btn btn-primary">Đăng nhập</button>
        </form>
    </div>
    
</div>

